@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

.content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    font-family: Rock Salt, 'Roboto', sans-serif;
    color: #14b0ee;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #5294e0;
}

h2 {
    margin: 0;
}

.msg h2 {
    color: #3a4da4;
}

.msg p {
    color: #2e3458;
    font-size: 0.8em;
    padding-bottom: 15px;
}

.background {
    height: 725px;
    background-color: cornflowerblue;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.logo-link {
    padding-top: 5px;
}


header {
    background-color:rgba(20,30,13, .7);
}
nav a {
    text-align: center;
    color: #4d0de2;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #daa87f;
    color: #513564;
}
.book {
    text-align: center;
    background-color: #d49a63;
    color: #2f7fc6;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    text-align: center;
    background-color: #d49a63;
    color: #2f7fc6;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #7fda82;
    color: #19307a;
}
.join:hover {
    background-color: #7fda82;
    color: #19307a;
}
.background {
    background-color: rgba(20,30,13, .7);
}
.msg {
    background-color: rgba(20,30,13, .7);
    line-height: 1.5em;
    padding: 35px;
}
main section img {
    box-sizing: border-box;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.card-img {
    border: 10px solid #83C5BE;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
footer, #social-img {
    padding-top: 15px;
}
footer {
    background-color: rgba(20,30,13, .7);
    color: #a3d0d9;
    padding: 25px 50px;
    margin-top: 200px;                                                                                                                                                                                                                                                                                                                                                                                                                                     
}

footer a {
    color: #a3d0d9;
    text-decoration: none;
}


footer a:hover {
    color: #748417;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    

nav a, .hero-msg h1, .hero-msg h4, .button-box, main, section {
    text-align: center;
}

